[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "==4.8.1"
certifi = "==2019.9.11"
chardet = "==3.0.4"
html5lib = "==1.0.1"
html5print = "==0.1.2"
idna = "==2.8"
ply = "==3.4"
requests = "==2.22.0"
six = "==1.13.0"
slimit = "==0.8.1"
soupsieve = "==1.9.5"
tinycss2 = "==1.0.2"
urllib3 = "==1.25.8"
webencodings = "==0.5.1"

[requires]
python_version = "3.7"
